body {
    background-color: #333333;
}
a {
	text-decoration: none;
	color: gray;
}
a:visited {
	text-decoration: none;
	color:lightgray;
}

#container {
	margin: 0 auto;
	width:960px;
}
.header {
	color: #bada55;
	text-align:right;
}
.section {
	color: #FFFD75;
	width: 604px;
}
